.help-header{
    margin: 0;
    font-size: 56px;
    font-weight: 600;
    text-transform: capitalize;
    color:#ffffff;
    
}
.help-header-text{
    margin-bottom: 10px;
    font-size: 18px;
    color:#ffffff;
}
.help-background{
    background: #37718e;
    min-height: 100vh;
}
.help-bg{
    background: #37718e;
}
.help-container{
    background: #ffffff;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.15);
    width: 1300px;
    margin: 0 auto;
    position: relative;
    contain: layout;
}
.help-text{
    padding-left:200px;
}
  .faq-menu{
      padding: 20px;
  }
  .faq-content{
      padding: 20px;
  }
  .faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  }
  .faq-nav .nav-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 16px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #616161;
    transition: background-color .2s ease;
    text-decoration: none;
  }
  .faq-nav .nav-link:hover {
    background-color: #f6f6f6;
  }
  .faq-nav .nav-link.active {
    background-color: #f6f6f6;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
  }
  .faq-nav .nav-link:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 0;
  }
  .faq-nav .nav-link i.mdi {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
  }
  
  .tab-content {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  }
  .tab-content .card {
    border-radius: 0;
  }
  .tab-content .card-header {
    padding: 15px 16px;
    border-radius: 0;
    background-color: #f6f6f6;
  }
  .tab-content .card-header h5 {
    margin: 0;
  }
  .tab-content .card-header h5 .faq-content-link {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    white-space: normal;
  }
  .tab-content .card-header h5 a:hover{
      color: #5FB709;
  }
  
  
  .tab-content .card-header h5 .faq-content-link:hover, .tab-content .card-header h5 button:focus, .tab-content .card-header h5 a:active, .tab-content .card-header h5 button:hover:active {
    text-decoration: none;

  }
  .tab-content .card-body p {
    color: #686b78;
    font-size: 14px;
    padding: 10px 50px;
    padding-bottom: 27px;
    line-height: 1.4;
    margin-top: -4px;
    white-space: pre-wrap;
  }
  .tab-content .card-body p:last-of-type {
    margin: 0;
  }
  
  .accordion > .card:not(:first-child) {
    border-top: 0;
  }
  
  .collapse.show .card-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }